[user]
    name = TempusGPT
    email = me@changyong.me

[fetch]
    prune = true

[alias]
    graph = log --graph --abbrev-commit --decorate --date=format:'%Y-%m-%d %H:%M' --format=format:'%C(bold yellow)%h%C(reset)%C(brightcyan)%d%C(reset) %C(brightgreen)%ad%C(reset) %C(brightmagenta)%an%C(reset)%n''        %s' --all
